<launch>
  <node pkg="mypimouse_slam" name="keyboard_cmd_vel" type="keyboard_cmd_vel.py" required="true" />
  <node pkg="mypimouse_slam" name="motors" type="motors.py" required="true" />

  <node pkg="mypimouse_joystick" name="pimouse_joystick" type="pimouse_joystick.py" required="false" />
  <node pkg="joy" name="joy_node" type="joy_node" required="false" />

  <node pkg="urg_node" name="urg_node" type="urg_node" required="true" >
    <param name="frame_id" value="base_link" />
  </node>
</launch>
